<body>
    <div align="center">
    <h1>Tu no tienes permiso para estar en esta página</h1>
    <%= button_to "Volver al inicio", root_path, method: :get, class:"btn btn-outline-dark my-2 my-sm-0"%>
    </div>
</body>